<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExportDll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExportDll.Properties.Settings>
            <setting name="ilasmpath" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v4.0.30319\ilasm.exe</value>
            </setting>
            <setting name="ildasmpath" serializeAs="String">
                <value>C:\Program Files\Microsoft SDKs\Windows\v7.0A\bin\ildasm.exe</value>
            </setting>
            <setting name="ildasmpath2" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v2.0.50727\ilasm.exe</value>
            </setting>
        </ExportDll.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
